<div class="day-four">
  <main class="md-page">
    {{{html}}}
  </main>

  <day-four-demo />

  <footer>
    <nav>
      <g-link @to="/day-three" @historyPush={{@historyPush}}>
        Day Three - g-redux
      </g-link>
      <g-link @to="/day-five" @historyPush={{@historyPush}}>
        Day Five - g-router (switch)
      </g-link>
    </nav>
  </footer>
</div>
