
.date-picker {
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 0;
  width: auto;
  background-color: white;
  color: black;
}

.date-picker__date {
  position: relative;
  display: flex;
  margin: 0 auto;
  padding: 0;
  align-items: center;
  justify-content: center;
  width: 11rem;

  & > i {
    display: block;
    font-size: 1.25rem;
    transform: translateX(-2.5rem);
  }
}

.date-picker__input {
  margin: 0 auto;
  padding: .25rem;
  font-size: 1rem;
  border: 0;
  border-bottom: solid 1px black;
}

/* */

.year-picker,
.month-picker,
.day-picker {
  position: absolute;
  top: 2rem;
  left: 0;
  display: block;
  width: 20rem;
  border: solid 1px black;
  box-sizing: border-box;
  text-align: center;
  background-color: rgba(250, 130, 30, 1);
  color: white;
  z-index: 10;
}

/* */

.day-picker {}

/* */

.month-picker {}

.month-picker__list {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  line-height: 4.5rem;
}

/* */

.year-picker {}

.year-picker__list {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  line-height: 3.5rem;
}
