<div class="home-page">
  <main class="md-page">
    {{{html}}}
  </main>

  <footer>
    <nav>
      <LinkTo @to="/day-one" @historyPush={{@historyPush}}>
        Day One - Slider
      </LinkTo>
    </nav>
  </footer>
</div>
