@import './reset';
@import './marked/upstanding-citizen';
@import './date-picker/_imports';
@import './slider/_imports';
@import './glimmer-learning/_imports';

.app-header {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 0 1rem;
  padding: 1rem 1rem 2rem;
  background: linear-gradient(black 90%, lightcoral);
  color: lightcoral;
  line-height: 2rem;
  border-bottom: solid 1px coral;

  & > a {
    color: inherit;
    transition: all .3s;

    &:hover {
      color: coral;
    }

    & > h1 {
      font-size: 1.5rem;
      margin: 0;
      font-weight: 600;
    }
  }
}

.app-main {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: flex-start;
  transition: all .3s;
  max-width: 65rem;
  margin: 0 auto;
  padding: 0;

  & > .burger-menu {
    transform: translateX(-20rem);
    flex: 0 0 0;
    width: 0;
    opacity: 0;
    transition: all .3s;
    border-right: solid 1px coral;
  }

  & > .route {
    display: block;
    flex: 1 1 auto;
    min-width: 18rem;
    width: 100vw;
    margin: 0 1rem;

    & > div > footer {
      margin: 0;
      padding: 3rem 0;

      & > nav {
        position: relative;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        font-size: 1.25rem;
        font-weight: 600;
        text-align: center;

        & > .g-link {
          flex: 0 0 18rem;
          margin: 1rem 0;
          padding: .5rem;
          color: lightcoral;

          &:hover {
            color: coral;
          }
        }
      }
    }
  }

  &.show-menu {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: flex-start;

    & > .burger-menu {
      transform: translateX(0);
      flex: 0 0 20rem;
      width: 20rem;
      opacity: 1;
    }

    & > .route {
      width: calc(100vw - 25rem);

      @media screen and (max-width: 40rem) {
        flex: 0 0 0;
        min-width: 0;
        width: 0;
        opacity: 0;
        margin: 0;
        display: none;
      }
    }
  }

  .day-two-demo {

    & > .date-picker {

      & > .year-picker,
      & > .month-picker,
      & > .day-picker {
        top: -22rem;
        left: calc(50% - 10rem);
      }
    }
  }
}

.app-footer {
  text-align: center;
  margin: 0;
  padding: 1rem;
}
