<div class="home-page">
  <main class="md-page">
    {{{html}}}
  </main>
  
  <footer>
    <nav>
      <g-link @to="/day-one" @historyPush={{@historyPush}}>
        Day One - g-slider
      </g-link>
    </nav>
  </footer>
</div>
