<div class="day-two">
  <main class="md-page day-two">
    {{{html}}}
  </main>

  <DayTwoDemo />

  <footer>
    <nav>
      <LinkTo @to="/day-one" @historyPush={{@historyPush}}>
        Day One - Slider
      </LinkTo>
      <LinkTo @to="/day-three" @historyPush={{@historyPush}}>
        Day Three - With Redux
      </LinkTo>
    </nav>
  </footer>
</div>
