<div class="day-two">
  <main class="md-page day-two">
    {{{html}}}
  </main>

  <day-two-demo />

  <footer>
    <nav>
      <g-link @to="/day-one" @historyPush={{@historyPush}}>
        Day One - g-slider
      </g-link>
      <g-link @to="/day-three" @historyPush={{@historyPush}}>
        Day Three - g-redux
      </g-link>
    </nav>
  </footer>
</div>
