<div class="day-three">
  <main class="md-page">
    {{{html}}}
  </main>

  <day-three-demo @store={{@store}} />

  <footer>
    <nav>
      <g-link @to="/day-two" @historyPush={{@historyPush}}>
        Day Two - g-date-picker
      </g-link>
      <g-link @to="/day-four" @historyPush={{@historyPush}}>
        Day Four - g-router
      </g-link>
    </nav>
  </footer>
</div>
