<div class="day-three">
  <main class="md-page">
    {{{html}}}
  </main>

  <DayThreeDemo @store={{@store}} />

  <footer>
    <nav>
      <LinkTo @to="/day-two" @historyPush={{@historyPush}}>
        Day Two - DatePicker
      </LinkTo>
      <LinkTo @to="/day-four" @historyPush={{@historyPush}}>
        Day Four - Router & Route
      </LinkTo>
    </nav>
  </footer>
</div>
