<div class="day-one">
  <main class="md-page">
    {{{html}}}
  </main>
  
  <day-one-demo />

  <footer>
    <nav>
      <g-link @to="/" @historyPush={{@historyPush}}>
        Homepage
      </g-link>
      <g-link @to="/day-two" @historyPush={{@historyPush}}>
        Day Two - g-date-picker
      </g-link>
    </nav>
  </footer>
</div>
