<div class="day-six">
  <main class="md-page">
    {{{html}}}
  </main>

  <day-six-demo />

  <footer>
    <nav>
      <g-link @to="/day-five" @historyPush={{@historyPush}}>
        Day Five - g-router (switch)
      </g-link>
      <g-link @to="/day-seven" @historyPush={{@historyPush}}>
        Day seven - conclusion
      </g-link>
    </nav>
  </footer>
</div>
