<div class="day-six">
  <main class="md-page">
    {{{html}}}
  </main>

  <DaySixDemo />

  <footer>
    <nav>
      <LinkTo @to="/day-five" @historyPush={{@historyPush}}>
        Day Five - RouteSwitch
      </LinkTo>
      <LinkTo @to="/day-seven" @historyPush={{@historyPush}}>
        Day seven - Update and Fix
      </LinkTo>
    </nav>
  </footer>
</div>
