<div class="day-seven">
  <main class="md-page">
    {{{html}}}
  </main>

  <day-seven-demo />

  <footer>
    <nav>
      <g-link @to="/day-six" @historyPush={{@historyPush}}>
        Day six - build the demo
      </g-link>
      <g-link @to="/" @historyPush={{@historyPush}}>
        Homepage
      </g-link>
    </nav>
  </footer>
</div>
