<div class="day-seven">
  <main class="md-page">
    {{{html}}}
  </main>

  <DaySevenDemo />

  <footer>
    <nav>
      <LinkTo @to="/day-six" @historyPush={{@historyPush}}>
        Day six - Build the Demo
      </LinkTo>
      <LinkTo @to="/" @historyPush={{@historyPush}}>
        Homepage
      </LinkTo>
    </nav>
  </footer>
</div>
