<div class="day-one">
  <main class="md-page">
    {{{html}}}
  </main>

  <DayOneDemo />

  <footer>
    <nav>
      <LinkTo @to="/" @historyPush={{@historyPush}}>
        Homepage
      </LinkTo>
      <LinkTo @to="/day-two" @historyPush={{@historyPush}}>
        Day Two - DatePicker
      </LinkTo>
    </nav>
  </footer>
</div>
